node_modules
dist
dist-ssr
.env
.env.local
.env.e2e
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
npm-debug.log*
dev-dist
playwright-report
test-results
coverage
*.tsbuildinfo
imagenes_productos_webp
outputs/
